ul.fotos{
    color: aquamarine;
    width: 970px;
    margin: 25 10 0 10px;
}
ul.fotos li{
    display: inline;
}
ul.fotos a{
    display: inline;
    float: left;
    margin: 15px 15px 15px 15px;
    text-align: center;
    columns: #333333;
    font-size: 10px;
    box-shadow: 10px 3px 6px rgba(0,100,100,.25);

}
