.lista_sn{
list-style-type: none;
}

.lista_circulos{
    list-style-type: circle;
    }
.lista_cuadrados{
    list-style-type: square;
    }
.lista_griegos{
    list-style-type: georgian;
    }
.lista_romanos{
    list-style-type: lower-greek;
    }